.experiences-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
    padding: 20px;
}

.section-title {
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    margin: auto 20px auto;
    margin-top: 40px;
}