<section class="hero">
    <div class="hero-content">
        <h1>
            Reservaciones
        </h1>
    </div>
</section>
<section class="reservaciones">

  <form class="formulario">
    <div class="campos">
      <div class="campo">
        <label>Fecha de Entrada</label>
          <div class="input-icono-derecha">
            <input type="date" />
            <i class="fas fa-calendar-alt"></i>
          </div>
      </div>

      <div class="campo">
        <label>Fecha de Salida</label>
        <div class="input-icono-derecha">
            <input type="date" />
            <i class="fas fa-calendar-alt"></i>
          </div>
      </div>
        <div class="campo">
          <label>Nombres Completos</label>
          <div class="input-icono-derecha">
            <input type="text" placeholder="Tu nombre" />
            <i class="fas fa-user"></i>
          </div>
      </div>
      <div class="campo">
        <label>Apellidos Completos</label>
        <div class="input-icono-derecha">
        <input type="text" placeholder="Tus apellidos" />
        <i class="fas fa-user"></i>
        </div>
      </div>
      <div class="campo">
        <label>Número de Contacto</label>
        <div class="input-icono-derecha">
        <input type="tel" placeholder="Tu número" />
        <i class="fas fa-phone"></i>
        </div>
      </div>
      <div class="campo">
        <label>Tipo de Experiencia Ganadera</label>
        <div class="opciones">
          <label><input type="radio" name="experiencia" /> Alojamiento</label>
          <label><input type="radio" name="experiencia" /> Comida Tradicional</label>
          <label><input type="radio" name="experiencia" /> Taller de Costura</label>
          <label><input type="radio" name="experiencia" /> Taller de Ordeño</label>
          <label><input type="radio" name="experiencia" /> Actividades Agrícolas</label>
        </div>
      </div>
      <div class="campo">
        <label>Comentarios adicionales o necesidades especiales:</label>
          <textarea></textarea>
      </div>

    </div>
    <div class="boton-container">
    <button type="submit" class="btn">Reservar Ahora</button>
    </div>
  </form>
</section>
