.contact-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fffff2;

  .contact-header {
    position: relative;
    width: 100%;
    height: auto;
    text-align: center;

    .banner-image {
      width: 100%;
      height: auto;
      object-fit: cover;
    }

    .contact-title {
      position: absolute;
      top: 15rem;
      left: 0;
      right: 0;
      //position: absolute;
      //bottom: 1.5rem;
      //left: 50%;
      //transform: translateX(-50%);
      font-size: 3.5rem;
      color: #C6E0C9;
      font-weight: 700;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
  }

  .contact-container {
    position: relative;
    max-width: 900px;
    width: 100%;
    background: #C6E0C9;
    border: 1px solid #B5B1B1;
    border-radius: 10px;
    margin: 3rem 0;
    padding: 2.5rem 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: space-between;
    align-items: flex-start;

    .contact-deco {
      position: absolute;
      opacity: 0.25;

      &.deco-left {
        left: -60px;
        bottom: 0;
        width: 150px;
      }

      &.deco-right {
        right: -60px;
        top: 20px;
        width: 150px;
      }
    }

    .contact-form {
      flex: 1 1 55%;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      max-width: 35em;

      .form-group {
        display: flex;
        flex-direction: column;
        font-family: 'Baloo Bhaina 2', cursive;
        font-weight: 600;
        color: #1a1a1a;

        label {
          display: flex;
          align-items: center;
          gap: 0.5rem;
          font-size: 1rem;
          margin-bottom: 0.25rem;
        }

        input,
        textarea {
          padding: 0.5rem;
          border: 1px solid #B5B1B1;
          border-radius: 8px;
          font-size: 1rem;
        }
      }

      .full-width {
        width: 100%;
      }

      .submit-button {
        margin-top: 1rem;
        align-self: center;
        background-color: #1D7F59;
        color: white;
        padding: 0.6rem 2rem;
        font-weight: bold;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        font-size: 1rem;

        &:hover {
          background-color: #166346;
        }
      }
    }

    .form-image {
      flex: 1 1 35%;
      max-width: 250px;
      height: auto;
      border-radius: 15px;
      object-fit: cover;
      right: 30px;
      top: 80px;
      position: absolute;
      opacity: 0;
      transition: opacity 1s ease-in-out;
      pointer-events: none; // Evita clics o interacciones

      &.visible {
        opacity: 1;
        position: absolute; // para que se muestre en el layout
        pointer-events: auto;
      }

      &.hidden {
        opacity: 0;
        position: absolute;
      }
    }
  }

  @media screen and (max-width: 768px) {
    .contact-container {
      flex-direction: column;
      align-items: center;
      padding: 1.5rem;

      .form-image {
        order: -1;
        max-width: 100%;
      }
    }
  }
}