<nav class="navbar">
    <div class="navbar__logo">
        <img src="/logo/logorustitourblanco.png" alt="RustiTour Logo" />
    </div>
    <ul class="navbar__menu">
        <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Inicio</a></li>
        <li><a routerLink="/experiences" routerLinkActive="active">Experiencias</a></li>
        <li><a routerLink="/contact-us" routerLinkActive="active">Contactanos</a></li>
        <li><a routerLink="/reservation-form" routerLinkActive="active">Reservaciones</a></li>
        <li><a routerLink="/about-us" routerLinkActive="active">¿Quiénes Somos?</a></li>


    </ul>
    <div class="navbar__user">
        <button mat-icon-button aria-label="Iniciar sesión" [routerLink]="'/login-form'">
            <mat-icon>person</mat-icon>
        </button>

    </div>
</nav>